In [1]:
import pandas as pd

In [2]:
heart = pd.read_csv("archive/heart.csv")

In [3]:
normalized_heart=(heart-heart.min())/(heart.max()-heart.min())

In [4]:
heart

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [8]:
normalized_heart = normalized_heart.drop(labels = 'output', axis = 1)

In [9]:
normalized_heart.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall
0,0.708333,1.0,1.000000,0.481132,0.244292,1.0,0.0,0.603053,0.0,0.370968,0.0,0.0,0.333333
1,0.166667,1.0,0.666667,0.339623,0.283105,0.0,0.5,0.885496,0.0,0.564516,0.0,0.0,0.666667
2,0.250000,0.0,0.333333,0.339623,0.178082,0.0,0.0,0.770992,0.0,0.225806,1.0,0.0,0.666667
3,0.562500,1.0,0.333333,0.245283,0.251142,0.0,0.5,0.816794,0.0,0.129032,1.0,0.0,0.666667
4,0.583333,0.0,0.000000,0.245283,0.520548,0.0,0.5,0.702290,1.0,0.096774,1.0,0.0,0.666667

In [15]:
X = normalized_heart.values.flatten().tolist()
Y = heart['output'].values.tolist()

In [19]:
number_of_features = int(len(X)/len(Y))

In [20]:
number_of_features

13

In [23]:
with open('heart.txt', 'w') as f:
    f.write("X = [ ")
    for x in range(len(X)) :
        f.write("%s " % X[x])
        if x%num_of_features and x < len(X)-1 :
            f.write("; ")
    f.write(" ]\n")
    
    f.write("Y = [ ")
    for y in range(len(Y)) :
        f.write("%s " % item)
        if x%num_of_features==0 and x < len(X)-1 :
            f.write("; ")
    f.write(" ]")